html {
}

input {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 15px 32px;
  border-bottom: 1px solid;

  box-shadow: -4px 4px 5px;
}

h1 {
  font-family:  Helvetica ,sans-serif;
  font-size: 2.5em;
  padding: 0px;
  margin: 10px;
  display: inline-block;
  border-bottom: 1px solid;
  padding: 20px 60px;
  box-shadow: 0px 0px 0px;
  margin-bottom: 30px;
  border-radius: 2px;
}
b {
  font-family: Helvetica;
}
.navbar {
  display: grid;
  grid-template-columns: 40% 20% 20% 20% 10%;
  padding: 20px;
}

.heading {
  text-align: center;

}

.main {
  padding: 10px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  width: 1fr;
  margin-left: 7%;
  overflow: hidden;
  justify-content: center;

}

.indcont {

/*  margin-left: -160px;
  margin-right: -290px;
  margin-top: -190px;
  margin-bottom: 10px;*/
  /*padding-left: 1fr;
  padding-right: 1fr;*/
  margin-right: -150px;
  margin-bottom: -400px;

  padding: 0px;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

iframe {
  height: 900px;
  width: 670px;


  -ms-zoom: 0.5;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
 -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

#clickMe, #inputblock, #entrymsg, b, input {
  margin: auto;
  display: block;
  text-align: center;
}

#entrymsg {
  font-family: Helvetica;
  padding: 5px;
}
